:root { --fgj-color: #545b64; --borde: #adb5bd; }


/* Estética de Archivador */
.archivador {
    max-width: 1150px; margin: 0 auto; background: var(--fgj-color);
    border-radius: 50px 50px 15px 15px; padding: 40px 15px 25px 15px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.3); position: relative;
}

/* DECORACIÓN SUPERIOR */
.decoracion-superior {
    display: flex; justify-content: center; gap: 150px;
    position: absolute; top: 15px; width: 100%; left: 0;
}
.punto {
    width: 45px; height: 45px; background: #3a4148;
    border-radius: 50%; box-shadow: inset 0 20px 8px rgba(0,0,0,0.5);
}

/* Título del MES */
.mes-display {
    color: white; font-size: 4.2rem; font-weight: 800;
    text-align: center; margin-bottom: 25px; letter-spacing: 5px;
    text-transform: uppercase; margin-top: 10px;
}

.tabla-blanca { display: grid; grid-template-columns: repeat(7, 1fr); background: white; border: 2px solid var(--borde); }
.dia-btn { border-right: 1px solid var(--borde); padding: 25px 5px; text-align: center; cursor: pointer; transition: 0.2s; }
.dia-btn:hover { background: #f8f9fa; transform: translateY(-2px); z-index: 5; box-shadow: 0 5px 15px rgba(0,0,0,0.1); }

.label-dia { font-weight: 700; color: #333; display: block; border-bottom: 1px solid #eee; margin-bottom: 8px; text-transform: uppercase; font-size: 0.85rem; }
.es-hoy { border: 4px solid #000 !important; background: #fff; }

.modal-xl { max-width: 65% !important; }
.contenedor-principal { width: 100%; height: 75vh; display: flex; align-items: center; justify-content: center; background: #f8f9fa; }
.pdf-frame { width: 100%; height: 75vh; border: none; }

.time-progress-wrapper { width: 80%; text-align: center; }
.progress-label-lg { font-size: 1.5rem; font-weight: bold; color: var(--fgj-color); margin-bottom: 20px; }
.id-badge { font-family: 'Courier New', monospace; background: #2c3e50; color: #00ff00; padding: 4px 10px; border-radius: 4px; font-weight: bold; }
