.vertical_center_button {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;

  }

.button_iniciar {
    border-radius: 15px;
    display: inline-block;
    padding: 1em 2em;
    color: white;
    border-radius: 1em;
    border:none;
    outline: 2px solid rgb(102, 102, 102);
    outline-offset: 3px;
}