header{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

/*estilos para la tabla*/
table th {
    background-color: #5F6D6B !important;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}
.color-icon{
    /* background-color: #5F6D6B !important; */
    color: #5F6D6B !important;
}

.color-btn-export{
    background-color: #5F6D6B !important;
    color: #f8fdfc !important;
}
