/subdireccion_de_analisis_de_riesgo/repo
/subdireccion_de_apoyo_tecnico_juridico/repo
/subdireccion_de_estadistica_y_preregistro/repo
/phpmailer
/image
/imagenesbdd
/docs
/fotos
/phpmailer2
/administrador/enviar_correo
/administrador/save_ticket
/administrador/respuesta_ticket_uno
/administrador/respuesta_ticket
/subdireccion_de_apoyo_tecnico_juridico/save_ticket
/subdireccion_de_estadistica_y_preregistro/save_ticket
/subdireccion_de_analisis_de_riesgo/save_ticket
